<div class="container pt-5">
<div id="print-section" class="mx-4 acontain"> 

      <div class="col-md-8 mx-4 pad-down pagebreak" style="display: flex;" *ngFor="let Record of records">
        <div class="col-md-12">
        <h4>{{Record.NAME}}</h4>
        <p>{{Record.AddressL1}}</p>
        <p>{{Record.AddressL2}}</p>
        <p>{{Record.AddressL3}}</p>
        <p>{{Record.AddressL4}}</p>
        </div>
      
        
    </div>
  </div>
   
  <button printSectionId="print-section" [useExistingCss]="true" ngxPrint>print</button> 
</div>