<div class="container pt-5">
  <div class="row">
      <div class="col-md-12 mx-auto pt-2" >
          <div class="table-responsive">
              <!-- <h1>Report</h1> -->
              <table class="table table-bordered table-hover">
                  <thead>
                      <tr class="gold">
                          <th scope="col">AC.no</th>
                          <th scope="col">Name</th>
                          <th scope="col">Address L1</th>
                          <th scope="col">Address L2</th>
                          <th scope="col">City</th>
                          <th scope="col">Edit</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let record of allRecords ; index as i"  id="{{i}}">
                          <td>{{i+1}}</td>
                          <td>{{record.Name}}</td>
                          <td>{{record.AddressL1}}</td>
                          <td>{{record.AddressL2}}</td>
                          <td>{{record.City}}</td>
                          <td><button class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Edit</button></td>
                      </tr>
                  </tbody>
              </table>
          </div>

          </div>
          
  </div>
</div>
   <!--
     2)- Add the directive name in your button (ngxPrint),
     3)- Affect your ID to printSectionId
   -->
  <!-- <button printSectionId="print-section" ngxPrint>print</button>  -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>