<div class="container pt-5">
  <div class="row">
    <button class="btn btn-success" (click)="goHome()">Go to home</button>
    <button class="btn btn-success mx-2"  (click)="goReminders()">Show Reminders</button>
    <div class="col-md-6">
      <input type="checkbox" (change)="toggleVIP()">
      <label for="vip">VIP</label>
    </div>
      <div class="col-md-12 mx-auto pt-2" style="font-size: 12px;">
          <div class="table-responsive">
              <!-- <h1>Report</h1> -->
              <table class="table table-bordered table-hover">
                  <thead>
                      <tr class="gold">
                          <th scope="col">ACODE</th>
                          <th scope="col">SCODE</th>
                          <th scope="col">Name</th>
                          <th scope="col">Address L1</th>
                          <th scope="col">Address L2</th>
                          <th scope="col">Address L3</th>
                          <th scope="col">Address L4</th>

                          <th scope="col">Edit</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let record of allRecords ; index as i"  id="{{i}}">
                          <td>{{record.ACODE}}</td>
                          <td>{{record.SCODE}}</td>
                          <td>{{record.NAME}}</td>
                          <td>{{record.AddressL1}}</td>
                          <td>{{record.AddressL2}}</td>
                          <td>{{record.AddressL3}}</td>
                          <td>{{record.AddressL4}}</td>
                          <td><button class="btn btn-success" data-toggle="modal" (click)="getData(i)" data-target="#exampleModal">Edit</button></td>
                      </tr>
                  </tbody>
              </table>
          </div>

          </div>
          
  </div>
</div>
   <!--
     2)- Add the directive name in your button (ngxPrint),
     3)- Affect your ID to printSectionId
   -->
  <!-- <button printSectionId="print-section" ngxPrint>print</button>  -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Record</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="Record"  role="form">

            <!-- Form Name -->
            <div class="form-group my-2">
              <label class="col-sm-6 control-label" for="textinput">AC NO </label>
              <div class="col-sm-6">
                <input [value]="Record.get('ACODE').value + Record.get('SCODE').value "  type="text" placeholder="" class="form-control">
              </div>
              <!-- <div class="col-sm-6">
                <input formControlName="SCODE" type="text" placeholder="" class="form-control">
              </div> -->
            </div>
            <!-- Text input-->
            <div class="form-group my-2">
              <label class="col-sm-6 control-label" for="textinput">Name </label>
              <div class="col-sm-6">
                <input formControlName="Name" type="text" placeholder="Name" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-12 control-label" for="textinput">Line 1</label>
              <div class="col-sm-12">
                <input formControlName="AddressL1" type="text" placeholder="Address Line 1" class="form-control">
              </div>
            </div>
  
            <!-- Text input-->
            <div class="form-group">
              <label class="col-sm-6 control-label" for="textinput">Line 2</label>
              <div class="col-sm-10">
                <input formControlName="AddressL2" type="text" placeholder="Address Line 2" class="form-control">
              </div>
            </div>
  
            <!-- Text input-->
            <div class="form-group">
              <label class="col-sm-6 control-label" for="textinput">AddressL3</label>
              <div class="col-sm-10">
                <input formControlName="AddressL3" type="text" placeholder="AddressL3" class="form-control">
              </div>
            </div>
  
            <!-- Text input-->
            <div class="form-group">
              <label class="col-sm-6 control-label" for="textinput">AddressL4</label>
              <div class="col-sm-8">
                <input formControlName="AddressL4" placeholder="AddressL4" class="form-control">
              </div>
  
              
            </div>
            <div class="col-sm-4">
              <input type="checkbox" [checked]="isvip" (change)="onCheckChange($event)">
              <span class=" mx-2 my-2" style="color: black;">VIP</span>
              </div>
            <div class="form-group my-2">
              <label class="col-sm-6 control-label" for="textinput">Due Date</label>
              <div class="col-sm-8">
                <input [value]="Record.get('DueDate').value | date: 'dd/MM/yyyy'" formControlName="DueDate" type="text"  class="form-control" readonly>
              </div>
            </div>
  
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="archive()">Archive Record</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="editRecord()">Save changes</button>
        </div>
      </div>
    </div>
  </div>