
<div class="container pt-5">
  <div class="row">
    <div class="col-md-12 ">
      <h3 class="gold">Address Details</h3>
    <div class="card">
      <form [formGroup]="Record" (ngSubmit)="addRecord()" role="form">

          <!-- Text input-->
          <div class="form-group my-2">
            <label class="col-sm-2 control-label" for="textinput">Name </label>
            <div class="col-sm-10">
              <input formControlName="Name" type="text" placeholder="Name" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Line 1</label>
            <div class="col-sm-10">
              <input formControlName="AddressL1" type="text" placeholder="Address Line 1" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Line 2</label>
            <div class="col-sm-10">
              <input formControlName="AddressL2" type="text" placeholder="Address Line 2" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-sm-6 control-label" for="textinput">Line 3</label>
                  <div class="col-sm-10">
                    <input formControlName="AddressL3" type="text" placeholder="AddressL3" class="form-control">
                  </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-sm-6 control-label" for="textinput">Line 4</label>
                <div class="col-sm-10">
                  <input formControlName="AddressL4" placeholder="Address L4" class="form-control">
                </div>

                <!-- <label class="col-sm-6 control-label my-2" for="textinput">Postcode</label>
                <div class="col-sm-10">
                  <input formControlName="pincode" type="text" placeholder="Post Code" class="form-control">
                </div> -->
              </div>
              <!-- <label class="col-sm-2 control-label my-2" for="textinput">VIP</label> -->
                <!-- <div class="col-sm-4">
                <input type="checkbox"  (change)="onCheckChange($event)">
                <span class=" mx-2 my-2" style="color: black;">VIP</span>
                </div>
                <div class="form-group my-2" *ngIf="!isVip">
                  <label class="col-sm-6 control-label" for="textinput">AC NO </label>
                  <div class="col-sm-10">
                    <input formControlName="ACNO" type="text" placeholder="" class="form-control">
                  </div>
                </div>
                <div class="form-group my-2" *ngIf="isVip">
                  <label class="col-sm-6 control-label" for="textinput">AC NO </label>
                  <div class="col-sm-10">
                    <input formControlName="ACNO" type="text" placeholder="" class="form-control" readonly>
                  </div>
                </div> -->
              <div class="form-group my-2">
                <label class="col-sm-6 control-label" for="textinput">Due Date</label>
                <div class="col-sm-10">
                  <input formControlName="DueDate" type="text" placeholder="City" class="form-control" readonly>
                </div>
              </div>



              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="pull-right">
                    <button class="btn btn-primary mx-2 my-4" (click)="goHome()">Go to Home</button>
                    <button class="btn btn-secondary mx-2"  (click)="close()">Cancel</button>
                    <button type="submit" class="btn btn-primary mx-2" 
                    data-toggle="modal" data-target="#success_tic" [disabled]="Record.invalid">Add</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- COL MD FOR PREVIEW -->
            <div class="col-md-8 pr-5">
              <div class="card">
                <div class="card-header">
                  <h2 style="color:black">PREVIEW</h2>
                </div>
                <div class="card-body mx-4">
                  <h6>To :</h6>
                  <h4>{{Record.value.Name}}</h4>
                  <p>{{Record.value.AddressL1}}</p>
                  <p>{{Record.value.AddressL2}}</p>
                  <p>{{Record.value.City}}</p>
                  <p>{{Record.value.State}}</p>
                  <p>{{Record.value.pincode}}</p>
                </div>
              </div>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
</div>

<style>

  body{
    background-color: #e6e6e6;
    width: 100%;
    height: 100%;
  }
   #success_tic .page-body{
    max-width:300px;
    background-color:#FFFFFF;
    margin:10% auto;
  }
   #success_tic .page-body .head{
    text-align:center;
  }
  /* #success_tic .tic{
    font-size:186px;
  } */
  #success_tic .close{
        opacity: 1;
      position: absolute;
      right: 0px;
      font-size: 30px;
      padding: 3px 15px;
    margin-bottom: 10px;
  }
  #success_tic .checkmark-circle {
    width: 150px;
    height: 150px;
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  .checkmark-circle .background {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #1ab394;
    position: absolute;
  }
  #success_tic .checkmark-circle .checkmark {
    border-radius: 5px;
  }
  #success_tic .checkmark-circle .checkmark.draw:after {
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
    animation-delay: 300ms;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-name: checkmark;
    -moz-animation-name: checkmark;
    animation-name: checkmark;
    -webkit-transform: scaleX(-1) rotate(135deg);
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -o-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  #success_tic .checkmark-circle .checkmark:after {
    opacity: 1;
    height: 75px;
    width: 37.5px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    border-right: 15px solid #fff;
    border-top: 15px solid #fff;
    border-radius: 2.5px !important;
    content: '';
    left: 35px;
    top: 80px;
    position: absolute;
  }
  
  @-webkit-keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 37.5px;
      opacity: 1;
    }
    40% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
    100% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
  }
  @-moz-keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 37.5px;
      opacity: 1;
    }
    40% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
    100% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
  }
  @keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 37.5px;
      opacity: 1;
    }
    40% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
    100% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
  }
  
  
  
  </style>
  
  
  <!-- Modal -->
  <div id="success_tic" class="modal fade" role="dialog">
      <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
          <a class="close" href="#" (click)="close()" data-dismiss="modal" >&times;</a>
          <div class="page-body">
              <div class="head">  
              <h3 style="margin-top:5px;color: #1ab394;">Record Added</h3>
              <br>
          </div>
  
          <h1 style="text-align:center;">
          <div class="checkmark-circle">
              <div class="background"></div>
              <div class="checkmark draw"></div>
          </div>
      </h1>
  
      </div>
  </div>
  </div>