<div class="container pt-5">
  <div class="row">
    <div class="col-md-12 ">
      <h3>Address Details</h3>
      <hr>
      <h4>Last entered record : {{lastRecord}}</h4>
    <div class="card">
      <form [formGroup]="Record" (ngSubmit)="addRecord()" role="form">
          <div class="form-group my-2" style="display: flex;">
            <div class="col-md-4">
              <label  for="textinput">ACODE </label>
                <input (change)="checkForExisiting()" formControlName="ACODE" type="text" placeholder="ACODE" class="form-control">
            </div>
            <div class="col-md-6">
              <label for="textinput">SCODE </label>
              <input (change)="checkForExisiting()" formControlName="SCODE" type="text" placeholder="SCODE" class="form-control">
          
            </div>
            
          </div>
          <div class="form-group my-2">
            <label class="col-sm-2 control-label" for="textinput">Name </label>
            <div class="col-sm-10">
              <input formControlName="NAME" type="text" placeholder="Name" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Line 1</label>
            <div class="col-sm-10">
              <input formControlName="AddressL1" type="text" placeholder="Address Line 1" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Line 2</label>
            <div class="col-sm-10">
              <input formControlName="AddressL2" type="text" placeholder="Address Line 2" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-sm-6 control-label" for="textinput">Line 3</label>
                  <div class="col-sm-10">
                    <input formControlName="AddressL3" type="text" placeholder="AddressL3" class="form-control">
                  </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-sm-6 control-label" for="textinput">Line 4</label>
                <div class="col-sm-10">
                  <input formControlName="AddressL4" placeholder="Address L4" class="form-control">
                </div>

                <!-- <label class="col-sm-6 control-label my-2" for="textinput">Postcode</label>
                <div class="col-sm-10">
                  <input formControlName="pincode" type="text" placeholder="Post Code" class="form-control">
                </div> -->
              </div>
              <div class="form-group my-2">
                <label class="col-sm-6 control-label" for="textinput">Due Date</label>
                <div class="col-sm-10">
                  <input formControlName="DUEDATE" type="text" class="form-control" readonly>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="pull-right">
                    <button type="submit" class="btn btn-primary mx-2" 
                    data-toggle="modal" data-target="#success_tic" [disabled]="Record.invalid || alreadyExist">Add</button>
                    <button class="btn btn-secondary mx-2"  (click)="close()">Cancel</button>
                    <button class="btn btn-primary mx-2 my-4" (click)="goHome()">Go to Home</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- COL MD FOR PREVIEW -->
            <div class="col-md-8 pr-5">
              <div class="card">
                <div class="card-header">
                  <h2 style="color:black">PREVIEW</h2>
                </div>
                <div class="card-body mx-4">
                  <h6>To :</h6>
                  <h4>{{Record.value.NAME}}</h4>
                  <p>{{Record.value.AddressL1}}</p>
                  <p>{{Record.value.AddressL2}}</p>
                  <p>{{Record.value.AddressL3}}</p>
                  <p>{{Record.value.AddressL4}}</p>

                </div>
              </div>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
</div>
  
  
  <!-- modal -->
  <div id="success_tic" class="modal fade" role="dialog">
      <div class="modal-dialog">
  
      <!-- modal content-->
      <div class="modal-content">
          <a class="close" href="#" (click)="close()" data-dismiss="modal" >&times;</a>
          <div class="page-body">
              <div class="head">  
              <h3 style="margin-top:5px;color: #1ab394;">record added</h3>
              <br>
          </div>
  
          <h1 style="text-align:center;">
          <div class="checkmark-circle">
              <div class="background"></div>
              <div class="checkmark draw"></div>
          </div>
      </h1>
  
      </div>
  </div>
  </div>