/* You can add global styles to this file, and also import other style files */
body{
background-color:rgb(30,30,30) ;
color: aliceblue;
}
.gold{
    color: #ffc041;
}
.control-label{
    color: black;

}