/* You can add global styles to this file, and also import other style files */

.gold{
    color: #ffc041;
}
.control-label{
    color: black;

}
/* .bg-pat {
    background-image: 
      url("./assets/imp-images/ganesh.jpeg");
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */