  <header id="header" class="fixed-top mt-2">
    <div class="container">
      <h1 style="text-align: center;">Swayambu Sri Raja Balamurugan Temple <span>AMS</span></h1>
    </div>
  </header>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-8 col-lg-8">
          <h1><span></span></h1>
          <h2></h2>
        </div>
      </div>
<br><br><br>
<br><br><br>
      <div class="row mt-5 justify-content-center my-5" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4 col-6 my-5">
          <div class="icon-box">
            <i class="ri-file-add-line"></i>
            <h3><a href="add">Add New Record</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 my-5">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="show">Manage Records</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4  my-5">
          <div class="icon-box">
            <i class="ri-printer-line"></i>
            <h3><a href="printrange">Print Records</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4 my-5">
          <div class="icon-box">
            <i class="ri-numbers-line"></i>
            <h3><a href="count">Count Records</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->   

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

